.CardItem {
  border-width: auto;
  height: auto;
  width: 100%;
  position: relative;
  //border: 2px solid;
  max-width: 300px;
  max-height: fit-content;
  overflow: visible;

  //padding-top: 5px;
  border-radius: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-style: none;
  

 
  img {
    display: block;
    min-width: 300px;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    top: 0%;
    left: 0%;
  }

  h2 {
    font-size: x-large;
    font-weight: bolder;
    outline-style: none;
    text-decoration: none;
    margin: 5px;
  }

  .description {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 10px 5px 10px;
    margin: 0 6px;
    
  }

  .year {
    font-weight: bold;
    font-size: large;
    margin: 0%;
    padding: 0;
  }

  

  .deleteBtn {
    position: absolute;
    top: 2px;
    right: 3px;
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
  }
  
  &__btn:hover {
    text-shadow: 0 0 4px black;
    transition: all 0.35;
  }

  &__btn:active{
    text-shadow: 0 0 4px black;
    transition: all 0.35;
  }

  .genres {
    padding: 0;
    display: flex;
    gap: 5px;
  
  } 


  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 3px;
    margin: 5px 10px 5px 10px;
    border-radius: 20px;
    
  }
   li {
    display: inline-block;
    list-style-type: none;
    list-style-position: outside;
    justify-content: left;

    border-radius: 5px;
    color: white;
    background-color: #df3b3b;

    height: auto;
    width: fit-content;
    border-radius: 4px;
    padding: 0.3rem;
    margin: 5px 1px 3px 2px;
     
   }
}

.editBtn {
  //position: absolute;
  right: 30px;
  //background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 5px;
  margin: 3px;
}

button {
  position: absolute;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
  margin: 5px;
}


button:hover {
  text-shadow: 0 0 4px black;
  transition: all 0.35;
}

/*

button:active{
  text-shadow: 0 0 4px black;
  transition: all 0.35;
}

*/
   
