

.CardList__wrapper {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  gap: 20px;
  padding: 30px;
  
    
}
